
extends noPicLayout

block content
  .container
    //-.p.text-white=title +"jasons"
    .card-columns.mt-3
      each meal in meals
        .card.p-3
          img.card-img-top.img-fluid(src=meal.imagePath)
          .card-body
            h4.card-title=meal.title
            p.card-text=meal.text
            .card-body
              .row
                .col
                  a.btn.btn-danger.mr-2(href=`../api/meals/${meal._id}`) v

                  small=meal.like
                .col
                  button.btn.btn-success.pl-4.pr-4 +
      
    
